*.efi
*.o
*.so
.deps/
.dirstamp
/.vscode/
/aclocal.m4
/autom4te.cache/
/compile
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/vm/bios/OVMF_VARS.fd
/vm/disk1.img
Makefile
Makefile.in
